{{!-- all classes --}}
{{!-- add a hamburger menu --}}
<main>
    <h1>November</h1>
    <div>
        {{!-- dates to click 
        make it into two rows with the day of week on top and # on bottom
        maybe flexbox? or grid
        
        how would you define when it is clicked? and to show the dates info? --}}
        <p>M</p>
        <p>T</p>
        <p>W</p>
        <p>T</p>
        <p>F</p>
        <p>S</p>
        <p>S</p>
        <p>28</p>
        <p>29</p>
        <p>30</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
    </div>
    <div>
        {{#each classes}}
        {{!-- scrolling list of current classes --}}
        <p>{{time}}</p>
        <p>{{name}}</p>
        <p>{{location}}</p>
        <a src="{{!-- got to detial for given post --}}"><button>Details</button></a>
        {{/each}}
    </div>
    <img src="">    {{!-- ask for this --}}
    <button>Classes</button>
    <a scr="{{!-- go to schedule page --}}"><p>Schedule</p></a>
</main>