{{!-- classes booked --}}
{{!-- add a hamburger menu --}}

<main>
    <h1>My Schedule</h1>
    <div>
        {{!-- carousel of booked classes --}}
    </div>
    <div>
        {{!-- next class --}}
    </div>
    <a src="{{!-- go to classes page --}}"><p>Classes</p></a>
    <p>Schedule</p>
</main>